body {
	background-color: aquamarine;
}

header {
	background-color: aqua;
	width: 250px;
	border-radius: 5px;
	padding: 30px;
	margin-bottom: 10px;
}

main {
	background-color: azure;
	border-radius: 5px;
	width: 450px;
	max-width: 100%;
}

.form {
	padding: 30px 40px;
}

.form-frame {
	margin-bottom: 10px;
	padding-bottom: 15px;
}

.form-frame input {
	border: 2px solid green;
	border-radius: 4px;
}

.form-frame small {
	color: red;
	visibility: hidden;
}

.form-frame.error small {
	visibility: visible;
}

button {
	padding: 10px;
	margin: 5px;
	font-size: large;
	background: none;
	border: 1px solid blue;
	border-radius: 10px;
	transition: all 0.5s;
	cursor: pointer;
}

button:hover {
	background-color: blue;
	border: black;
	color: white;
}