table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid black;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: rgb(224, 208, 208);
}

table th {
    padding: 10px;
    text-align: left;
    background-color: cyan;
    color: gold;
}

button {
    margin: 1em;
    padding: 1em;
    font-size: large;
    border-radius: 0.3em;
    cursor: pointer;
    transition: all 0.5s;
}

button:hover {
    background-color: aqua;
}

.btn-ok {
    background-color: green;
    color: white;
}

.btn-err {
    background-color: red;
    color: white;
}