li {
    list-style-type: none;
    padding: 5px;
}

.image {
    height: 600px;
    border-radius: 8px;
    border: 1px solid #ddd;
    display: block;
    margin-left: auto;
    margin-right: auto;
}